/__pycache__
/.coverage
/.vscode
/.cache
/perf-cli-*
/perf.stat.*
/wperf*
*.csv
/pytest.xml
/wperf.json
*.pyc
/.tox
/reports
/build/
/topdown_tool.egg-info/
/topdown_tool/_build_info.py
/topdown_tool/_version.py
