[format]
max-line-length = 200

[messages control]
disable =
    cell-var-from-loop,
    line-too-long,
    missing-function-docstring,
    missing-class-docstring,
    missing-module-docstring,
    too-few-public-methods,
    too-many-instance-attributes,
    wrong-import-position

[basic]
good-names = e, f, g, m, l1, l2, mi, op
