branch_direct_workload
branch_indirect_workload
call_return_workload
div32_workload
div64_workload
double2int_workload
fpdiv_workload
fpmac_workload
fpmul_workload
fpsqrt_workload
int2double_workload
isb_workload
l1d_cache_workload
l1d_tlb_workload
l1i_cache_workload
l2d_cache_workload
load_after_store_workload
mac32_workload
mac64_workload
memcpy_workload
mul32_workload
mul64_workload
store_buffer_full_workload
